:root {
  /* Combo 152 */
  --eosine-pink: #f37f94;
  --seashell-pink: #fdd4bd;
  --brown: #7c4226;
  --orange-yellow: #fcb315;
  --pale-kings-blue: #a7d4e4;
  --dark-medici-blue: #547076;
  --vandar-poels-blue: #064f6e;
  --dusky-green: #004f46;
}
