
body {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 26px;
  padding: var(--space-2); 
}

.fw-1 {
  font-weight: 300;
}

.fw-2 {
  font-weight: 400;
}

.fw-3 {
  font-weight: 600;
}

.hour-cell {
  width: 180px;

  .subcell {
    padding: var(--space-1);
  }

  .sun {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }

  .sky {
  }

  .thin-line {
    height: 2px;
  }

  .mid-line {
    height: 4px;
  }

  .thick-line {
    height: 6px;
  }

  .time {
    text-align: center;
  }
}

.combo-152 {
  background-color: var(--pale-kings-blue);

  .time {
    background-color: var(--orange-yellow);
    color: var(--vandar-poels-blue);
  }

  .sun {
    background-color: var(--orange-yellow);
  }

  .sky {
    background-color: var(--vandar-poels-blue);
    color: var(--seashell-pink);
  }

  .cloud-line {
    background-color: var(--seashell-pink);
  }

  .ground {
    background-color: var(--dusky-green);
    color: var(--seashell-pink);    
  }
}
