
body {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 27px;
  padding: var(--space-2); 
}

.fw-1 {
  font-weight: 200;
}

.fw-2 {
  font-weight: 400;
}

.fw-3 {
  font-weight: 800;
}

.hour-cell {
  flex: 1;

  .subcell {
    padding: var(--space-1);
    padding-left: var(--space-2);    
    padding-right: var(--space-2);    
  }

  .sun {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }

  .sky {
  }

  .thin-line {
    height: 2px;
  }

  .mid-line {
    height: 4px;
  }

  .thick-line {
    height: 6px;
  }

  .time {
    font-size: 32px;
    text-align: center;
  }
}

.combo-152 {
  background-color: var(--brown);

  .time {
    background-color: var(--orange-yellow);
    color: var(--vandar-poels-blue);
  }

  .sun {
    background-color: var(--orange-yellow);
  }

  .sky {
    background-color: var(--vandar-poels-blue);
    color: var(--seashell-pink);
  }

  .cloud-line {
    background-color: var(--seashell-pink);
  }

  .ground {
    background-color: var(--dusky-green);
    color: var(--seashell-pink);    
  }
}
