
body {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 26px;
  padding: var(--space-2);
}

* {
  transition: background-color 1s ease, color 1s ease;
}

.fw-1 {
  font-weight: 200;
}

.fw-2 {
  font-weight: 400;
}

.fw-3 {
  font-weight: 800;
}

.hour-cell {
  flex: 1;

  .subcell {
    padding: var(--space-1);
    padding-left: var(--space-2);
    padding-right: var(--space-2);
  }

  .sky {
  }

  .thin-line {
    height: 2px;
  }

  .mid-line {
    height: 4px;
  }

  .thick-line {
    height: 6px;
  }

  .time {
    font-size: 32px;
    text-align: center;
  }
}

.combo-152 {
  background-color: var(--brown);

  .time {
    background-color: var(--orange-yellow);
    color: var(--vandar-poels-blue);
  }

  .sky {
    background-color: var(--vandar-poels-blue);
    color: var(--seashell-pink);
  }

  .cloud-line {
    background-color: var(--seashell-pink);
  }

  .ground {
    background-color: var(--dusky-green);
    color: var(--seashell-pink);
  }
}

.combo-149 {
  background-color: var(--neutral-gray);

  .time {
    background-color: var(--spectrum-red);
    color: var(--white);
  }

  .sky {
    background-color: var(--white);
    color: var(--black);
  }

  .cloud-line {
    background-color: var(--spectrum-red);
  }

  .ground {
    background-color: var(--white);
    color: var(--black);
  }
}

.combo-188 {
  background-color: var(--eosine-pink);
  color: var(--black);

  .time {
    background-color: var(--white);
  }

  .sky {
    background-color: var(--white);
  }

  .cloud-line {
    background-color: var(--calamine-blue);
  }

  .ground {
    background-color: var(--white);
  }  
}

.combo-21 {
  background-color: var(--dull-violet-black);
  color: var(--dull-violet-black);

  .time {
    background-color: var(--helvetia-blue);
    color: var(--sulfur-yellow);
  }

  .sky {
    background-color: var(--sulfur-yellow);
  }

  .cloud-line {
    background-color: var(--spinel-red);
  }

  .ground {
    background-color: var(--raw-sienna);
    color: var(--sulfur-yellow);
  }  
}